body{
    margin: 0%;
    box-sizing: border-box;
    font-family: Montserrat,sans-serif;
}
.Main {
    background-image: url('../src/images/main1.jpg');
    background-size: cover;
    height: 100vh;
}
.card {
    display: block;
    background: white;
    position: absolute;
    top: 15rem;
    left: 45rem;
    width: 18vw;
    min-height: 50vh;
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.4);

}
.card h2 {
    padding: 0.5rem 0rem;
}
.card form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-input{
    height: 2rem;
    width: 100%;
    text-align: center;
    border-radius: 100px;
    border: 2px solid #7ed6df;
    margin-top: 1rem;
}
.main-button{
    padding: .8rem;
    margin-top: 1rem;
    background: #7ed6df;
    border: none;
    border-radius: 100px;
    width: 40%;
    color: #fff;
    font-weight: bolder;
}



.loginform{
    background: #fff;
    min-height: 5vh;
    box-shadow: 0 10px 15px rgba(0,0,0,0.4);

}

.loginform{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

 .loginButton{
    padding: .4rem;
    background: #7ed6df;
    border: none;
    border-radius: 100px;
    width: 5vw;
    color: #fff;
    font-weight: bolder;
}

